import Base from '../base.marko';
import TopNav from '../topNav.marko';

<${Base}>
  <@heading>
    <title>${data.title}</title>
  </@heading>
  <@content>
    <${TopNav}>
    </>
    <h1>404 :(</h1>
  </@content>
</>
