<div class='container top-nav'>
  <div class='row w-100'>
    <div class='col-10'>
    </div>
    <div class='col-2 float-right'>
      <a href='/account' id='my-profile'>
        <img id='icon' src='/img/profile_icon.png' />
        <span>My profile</span>
      </a>
    </div>
  </div>
</div>