html,
body {
  height: 100%;
}

#sticky-footer {
  flex-shrink: none;
}

#explore-form {
  padding: 10px;
  background: white;
  border-radius: 5px;
}

#index-container {
  padding: 15px;
  background: url('../img/index_panorama.jpeg');
  height: 40%;
  width: 100%;
  background-size: auto 100%;
}

#fade-in {
  position: relative;
  transition: 1s;
  left:0;
  opacity:1;
}

#fade-in.notLoaded {
  left: -350px;
  opacity: 0;
}