* {
  margin: 0;
  padding: 0;
}

html,
body {
  background: #e9ebf0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#site-content {
  flex: 1;
}

#sticky-footer {
  flex-shrink: none;
}

#explore-form {
  padding: 10px;
  background: white;
  border-radius: 5px;
}

#index-container {
  padding: 15px;
  background: url('../img/index_panorama.jpeg');
  height: 25vw;
  width: 100%;
  background-size: auto 100%;
}

#fade-in {
  position: relative;
  transition: 1s;
  left:0;
  opacity:1;
}

#fade-in.notLoaded {
  left: -350px;
  opacity: 0;
}

.price {
  text-decoration: bold;
  text-align: right;
}

.flight-container {
  padding:15px;
  margin-bottom: 15px;
  border: 1px solid #dcdee3;
  background:white; 
  box-shadow: 0px 0px 0px gray;
  transition: 0.5s;
}

.flight-container:hover {
  box-shadow: 0px 0px 7px gray;
  transition: 0.5s;
  cursor: pointer;
}

.search-result-container {
  padding:15px;
}

#icon {
  height: 3vw;
  width: auto;
  float: left;
  margin-right: 10px;
  padding: 3px;
}

#my-profile {
  display: flex;
  align-items: center;
}

.top-nav {
  max-width: 100%;
}